body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #5b5b56;
}

.calculator-container {
  text-align: center;
}

.calculator {
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90%;
  color: #fff;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  font-size: 24px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

/* Dark Mode */
body.dark-mode {
  background-color: #111;
}

body.dark-mode .calculator {
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

body.dark-mode input {
  background-color: #222;
}

body.dark-mode button {
  background-color: #004080;
}

body.dark-mode button:hover {
  background-color: #002040;
}

body .backscape-btn button {
  /* Your existing CSS styles here */

  .backspace-btn {
    background-color: #f00;
    color: #fff;
  }
}
